body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.text-danger {
    color: #c38d9e !important;
}

.text-info {
    color: #41B3A3 !important;
}

.btn-success {
    background: transparent !important;
    border: 2px solid #c38d9e !important;
}

.btn-success:hover {
    background: #c38d9e !important;
}

.loader {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
}

#loader {
    text-align: center;
    height: 100vh;
    background: white;
}

#contentLoading {
    display: none;
}

.container-scroller {
    margin: 40px;
    height: calc(100vh);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #c38d9e;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #c38d9e;
}

.navbarShadow {
    box-shadow: 0px 0px 6px 1px rgba(65, 179, 163, 0.3);
}

.navbar-brand {
    border-right: 1px solid #41B3A3;
    padding-right: 16px
}

.navbar-brand:hover {
    color: #41B3A3 !important;
}

#myChart {
    height: 500px !important;
    width: 500px !important;
}

.border-radius {
    border-radius: 15px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
}
